<div class="d-flex align-items-stretch min-height-100 h-100">
    <!-- <div class="bg-cover bg-1 d-none d-md-inline-flex col-md-6 col-lg-8"></div> -->
    <!-- <img class=" col-md-6 col-lg-8" src="assets/images/adminpanel.jpg" alt="" > -->
    <div class="card card-body mb-0 rounded-0 p-5 col-sm-12 col-md-12 col-lg-4" style="margin-left: 35%">
      <form [formGroup]="form" (ngSubmit)="login()">
        <div class="mb-3">
          <img src="assets/images/logo.png" class="avatar-xs mb-1" alt="" style="width: 150px">
          <p class="ff-headers text-uppercase">Admin Panel</p>
        </div>
        <fieldset class="form-group" [ngClass]="{'has-danger': form.controls['uname'].hasError('required') && form.controls['uname'].touched}">
          <label for="email" class="form-control-label">
            Enter your email
          </label>
          <input type="text" class="form-control" placeholder="username" [formControl]="form.controls['uname']" [ngClass]="{'form-control-danger': form.controls['uname'].hasError('required') && form.controls['uname'].touched}" [(ngModel)] = "email"/>
          <div class="form-control-feedback" *ngIf="form.controls['uname'].hasError('required') && form.controls['uname'].touched">Email is required.</div>
        </fieldset>
        <fieldset class="form-group" [ngClass]="{'has-danger': form.controls['password'].hasError('required') && form.controls['password'].touched}">
          <label for="password" class="form-control-label">
            Enter your password
          </label>
          <input type="password" class="form-control" placeholder="********" [formControl]="form.controls['password']" [ngClass]="{'form-control-danger': form.controls['password'].hasError('required') && form.controls['password'].touched}" [(ngModel)] = "password"/>
          <div class="form-control-feedback" *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched">Password is required.</div>
          <a [routerLink]="['/authentication/forgot']" class="form-text"><small>Recover password</small></a>
        </fieldset>
        <label class="custom-control custom-checkbox mb-3">
          <input type="checkbox" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Stay logged in</span>
        </label>
        <div class="block"></div>
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Login</button>
        <div id="erroralert" style="visibility: hidden" role="alert" class="alert alert-danger alert-dismissible">
          <button (click) = "closeErrorAlert()" aria-label="Close" class="close" type="button"> <span aria-hidden="true">×</span></button>
          {{ errorMsg }}
        </div>
      </form>
    </div>
  </div>