  <img class="mw-100" src="assets/images/main-logo.png" alt="Max-width 100%">

  <div class="jumbotron" style="margin-top: 50px ; background:#f8e546">
    <h1 class="display-4">Welcome to RISEUPCONNECT</h1>
    <p class="lead">Office hours is an online platform that connects people with knowledge and experience in any field to startup that need help. </p>
    <hr class="my-4">
    <p>More details with our website :)</p>
  </div>



  <!-- <div id="list-example" class="list-group">
      <a class="list-group-item list-group-item-action" href="#list-item-1">Item 1</a>
      <a class="list-group-item list-group-item-action" href="#list-item-2">Item2</a>
      <a class="list-group-item list-group-item-action" href="#list-item-3">Item 3</a>
      <a class="list-group-item list-group-item-action" href="#list-item-4">Item 4</a>
    </div>
    <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
      <h4 id="list-item-1">Item 1</h4>
      <p>...</p>
      <h4 id="list-item-2">Item 2</h4>
      <p>...</p>
      <h4 id="list-item-3">Item 3</h4>
      <p>...</p>
      <h4 id="list-item-4">Item 4</h4>
      <p>...</p>
    </div> -->


    <ngb-tabset>
        <ngb-tab title="Simple">
          <ng-template ngbTabContent>
            <p>The website is simply more dynamic for startup companies to riseup their own firm into somthing better and help them communicate with experts.</p>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle><b>About Us</b></ng-template>
          <ng-template ngbTabContent>
            <p>RiseUp built its network of entrepreneurs, investors, experts, support organizations and brands and decided to bring them online in one community through Connect. Connect is RiseUp’s continuous experience all year long helping startups grow and access global resources. Resources include funding, talent, exposure, tools & services, knowhow and marketplace.</p>
          </ng-template>
        </ngb-tab>        
      </ngb-tabset>
